include:
  - template: SAST.gitlab-ci.yml
  - template: Dependency-Scanning.gitlab-ci.yml
  - template: Secret-Detection.gitlab-ci.yml

stages:
  - test
  - security

phpstan:
  stage: test
  image:
    name: ghcr.io/phpstan/phpstan:latest
    entrypoint: [""]
  script:
    - apk update && apk add curl patch;
    - curl -sSLf -o /usr/local/bin/install-php-extensions https://github.com/mlocati/docker-php-extension-installer/releases/latest/download/install-php-extensions
    - chmod +x /usr/local/bin/install-php-extensions
    - install-php-extensions zip
    - cd $CI_PROJECT_DIR && composer install --optimize-autoloader --ignore-platform-reqs;
    - $CI_PROJECT_DIR/vendor/bin/phpstan analyse -c phpstan.neon;
  artifacts:
    expire_in: 1 week
  rules:
    - if: $CI_COMMIT_BRANCH == "dev"

pest-8.5:
  stage: test
  image: php:8.5-cli
  variables:
    COLUMN_API_TOKEN: $COLUMN_API_TOKEN
    COLUMN_ENTITY_ID: $COLUMN_ENTITY_ID
    COLUMN_BANK_ACCOUNT_ID: $COLUMN_BANK_ACCOUNT_ID
  before_script:
    - apt-get update && apt-get install -y git unzip libicu-dev zlib1g-dev
    - curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer
    - cd $CI_PROJECT_DIR && composer install --no-interaction --no-progress
  script:
    - cd $CI_PROJECT_DIR && vendor/bin/pest
  artifacts:
    expire_in: 1 week
  rules:
    - if: $CI_COMMIT_BRANCH == "dev"

sast:
  stage: security
  artifacts:
    expire_in: 1 week

dependency_scanning:
  stage: security
  artifacts:
    expire_in: 1 week

secret_detection:
  stage: security
  artifacts:
    expire_in: 1 week